[submodule "OSTang"]
	path = OSTang
	url = https://github.com/fjpolo/OSTang
	branch = fjpolo/gameboy
[submodule "VerilogBoy"]
	path = VerilogBoy
	url = https://github.com/fjpolo/VerilogBoy
	branch = fjpolo/TangNano20k
